<div class="tt-footer-inner">
  <div class="footer-col tt-align-center-left">
    <div class="footer-col-inner">
      <a href="mailto:hello@saltandsun.life" class="tt-link tt-copyright"
                          >hello@saltandsun.life</a
                        >
    </div>
  </div>

  <div class="footer-col tt-align-center order-m-last">
    <div class="footer-col-inner">
      <div class="tt-copyright">
        © Copyright -
        <a href="https://www.saltandsun.life/" class="tt-link"
          >Salt & Sun Lifestyle</a
        >
      </div>
    </div>
  </div>
  <div class="footer-col tt-align-center-right">
    <div class="footer-col-inner">
      <div class="social-buttons">
        <ul>
          <li>
            <a
              href="https://www.facebook.com/saltandsunlifestyle"
              class="magnetic-item"
              target="_blank"
              rel="noopener"
              >Fb.</a
            >
          </li>
          <li>
            <a
              href="https://instagram.com/saltandsunlifestyle"
              class="magnetic-item"
              target="_blank"
              rel="noopener"
              >In.</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
