<script src="assets/js/nav-menu.js"></script>


<div class="tt-header-inner">
  <div class="tt-header-col">
    <div class="tt-logo"> 
      <a href="index.html">
        <img src="assets/img/logo-light.png" class="tt-logo-light magnetic-item" alt="Logo"> <!-- logo light -->
        <img src="assets/img/logo-dark.png" class="tt-logo-dark magnetic-item" alt="Logo"> <!-- logo dark -->
      </a>
    </div>
  </div>

  <div class="tt-header-col">
    <div id="tt-m-menu-toggle-btn-wrap hide">
      <div class="tt-m-menu-toggle-btn-text">
        <span class="tt-m-menu-text-menu hide ">Menu</span>
        <span class="tt-m-menu-text-close hide">Close</span>
      </div>
      <div class="tt-m-menu-toggle-btn-holder">
        <a href="#" class="tt-m-menu-toggle-btn magnetic-item"><span></span></a>
      </div>
    </div>
    <nav class="tt-main-menu tt-submenu-dark tt-m-menu-center hide">
      <div class="tt-main-menu-holder">
        <div class="tt-main-menu-inner">
          <div class="tt-main-menu-content">
            <ul class="tt-main-menu-list">
              <li><a href="">Home</a></li>
              <li><a href="/shop.html">Shop</a></li>
              <li class="tt-submenu-wrap tt-submenu-master">
                <div class="tt-submenu-trigger">
                  <a href="#">Explore Freedive</a>
                </div>
                <div class="tt-submenu">
                  <ul class="tt-submenu-list">
                    <li><a href="/find-a-buddy.html">Find a buddy</a></li>
                    <li><a href="/where-to-next.html">Where to next?</a></li>
                    <li><a href="/get-certified.html">Get Certified</a></li>
                  </ul>
                </div>
              </li>
              <li><a href="/about-us.html">About Us</a></li>
              <li><a href="/faq.html">FAQ</a></li>
              <li><a href="/contact-us.html">Contact Us</a></li>
            </ul>
          </div>
        </div>
      </div>
    </nav> 
  </div>
</div>
